#tic-tac-toe-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90vw;
    margin: 0 auto;
}

.row {
    display: flex;
}

.cell {
    border: 1px solid black;
    width: 30vw;
    height: 30vw;
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Responsive design for mobile screens */
@media (max-width: 600px) {
    #tic-tac-toe-board {
        width: 90%;
    }

    .cell {
        width: 30%;
        height: 30%;
        font-size: 10vw;
    }
}
